<template>
    <p v-if="data">{{ data.message }}</p>
    <p v-if="error">{{ error }}</p>
</template>

<script setup lang="ts">
    interface ApiResponse {
        message: string
    }

    const { data, error} = await useFetch<ApiResponse>('http://localhost:3001')

</script>
